@media screen and (max-width:420px) {
   .main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
    .card{
    width: 100%;
    height: auto;
    background-color: var(--white);
    margin-top:0px;
    margin-bottom: 0px;
    border-radius: 10px;
    padding: 0%;
} 
.top{
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 0;
    border-radius:0;
}
.bottom{
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding:3%;
    border-radius:0px;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 0px;

}}